<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">
        body {
            background-color: orange;
        }
    </style>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
<form action="/messages" method="POST"><input type="text" name="message"/><input type="submit" value="Submit"/></form>
<a href="/messages">Click this to go to the messages page</a>
<h1>Welcome to the homepage!</h1>
<p>This is my website, click the buttons below to visit the other pages</p>
{{name}}
</body>
</html>