<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css">
        body {
            background-color: lightgreen;
        }
        #chat {
            background-color: red;
            width: 500px;
            height: 300px;
            overflow: scroll;
            margin-bottom: 20px;
        }
    </style>
    <meta charset="UTF-8">
    <title>Messages</title>
</head>
<body>
<h1>Welcome to the homepage!</h1>
<div id="chat">
    {% for message in list %}
    <p>{{message}}</p>
    {% endfor %}

</div>
<form method="POST"><input type="text" name="message"/><input type="submit" value="Submit"/></form>

</body>
</html>